{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="website Icon" type="png" href="{% static 'Imagenes/logo2.png' %}">
    <title>Registro de Cliente</title>
    <link type="text/css" href='{% static "css/Style.css" %}'rel="stylesheet"></link>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <ul class="topnav"> 
        <li><a class="active" href="{% url 'Inicio' %}"><i class="fas fa-home me-1"></i> Inicio</a></li>
        <li><a href="{% url 'Sobre_nosotros' %}"><i class="fas fa-gavel me-1"></i> Nosotros</a></li>
        <li class="right"><a href="#about" id="consultarClima">Inicio Sesión</a></li>
    </ul>
    <br>
    <div class="content-container">
        <div id="perfil" class="content-section active">
            <h2 class="text-center">Registro de Cliente</h2>
            <form id="formularioRegistro" method="post" action="{% url 'Registro' %}" class="mx-auto" style="max-width: 600px;">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="rut" class="form-label">RUT</label>
                    <input type="text" id="rut" name="rut" class="form-control" required>
                    <div id="errorRut" class="error-message">Error en RUT</div>
                </div>
                <div class="mb-3">
                    <label for="first_name" class="form-label">Nombre</label>
                    <input type="text" id="first_name" name="first_name" class="form-control" required>
                    <div id="errorFirstName" class="error-message">Error en Nombre</div>
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label">Apellido</label>
                    <input type="text" id="last_name" name="last_name" class="form-control" required>
                    <div id="errorLastName" class="error-message">Error en Apellido</div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Correo Electrónico</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                    <div id="errorEmail" class="error-message">Error en Correo Electrónico</div>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Número de Teléfono</label>
                    <input type="text" id="phone" name="phone" class="form-control" required>
                    <div id="errorPhone" class="error-message">Error en Número de Teléfono</div>
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Dirección</label>
                    <input type="text" id="address" name="address" class="form-control" required>
                    <div id="errorAddress" class="error-message">Error en Dirección</div>
                </div>
                <div class="mb-3">
                    <label for="date_of_birth" class="form-label">Fecha de Nacimiento</label>
                    <input type="date" id="date_of_birth" name="date_of_birth" class="form-control" required>
                    <div id="errorDateOfBirth" class="error-message">Error en Fecha de Nacimiento</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Clave</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                    <div id="errorPassword" class="error-message">Error en Clave</div>
                </div>
                <div class="mb-3">
                    <label for="confirm_password" class="form-label">Confirmar Clave</label>
                    <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
                    <div id="errorConfirmPassword" class="error-message">Error en Confirmar Clave</div>
                </div>
                <div id="mensajeError" class="error-message">Por favor, corrija los errores antes de continuar.</div>
                <div id="mensajeExito" class="success-message">Formulario enviado con éxito.</div>
                <button type="submit" class="btn btn-primary w-100">Registrarse</button>
            </form>
        </div>
    </div>

<!-- Modal -->
<div id="climaModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="loginForm">
                    <div class="text-center mb-3">
                        <img src="Imagenes/logo1.png" alt="Imagen de usuario" class="img-fluid">
                    </div>
                    <div class="mb-3">
                        <input type="text" id="username" class="form-control" placeholder="Usuario">
                        <div id="errorUsuario" class="text-danger" style="display: none;"></div>
                    </div>
                    <div class="mb-3">
                        <input type="password" id="password" class="form-control" placeholder="Contraseña">
                        <div id="errorContraseña" class="text-danger" style="display: none;"></div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" style="background-color: #333">Iniciar Sesión</button>
                        <a href="{% url 'Registro' %}" class="btn btn-primary" style="background-color: #333">Crear Usuario</a>
                    </div>
                </form>
                <p></p>
                <div id="mensajeExito" class="alert alert-success" style="display: none;">¡Inicio de sesión exitoso!</div>
                <div id="mensajeError" class="alert alert-danger" style="display: none;">Error al iniciar sesión. Por favor, corrija los campos resaltados.</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src='{%static "js/Registro.js"%}'></script>
    <script src='{%static "js/Modal.js"%}'></script>

</body>
</html>
