{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="website Icon" type="png" href="{% static 'Imagenes/logo2.png' %}">
    <title>Panel del Abogado Administrador</title>
    <link type="text/css" href='{% static "css/Style.css" %}'rel="stylesheet"></link>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <!-- Navegación Principal -->
    <ul class="topnav"> 
        <li><a href="{% url 'Inicio' %}"><i class="fas fa-home me-1"></i> Inicio</a></li>
        <li><a href="{% url 'Sobre_nosotros' %}"><i class="fas fa-gavel me-1"></i> Nosotros</a></li>
        <li><a class="active" href="{% url 'VistaAbogadoAdministrador' %}"><i class="fas fa-gavel me-1"></i> Abogado Administrador</a></li>
    </ul>

<!-- Navegación del Panel del Abogado Administrador -->
<ul class="topnav1 nav nav-pills mb-3">
    <li class="nav-item"><a class="nav-link active" href="#" data-section="causas">Todas las Causas</a></li>
    <li class="nav-item"><a class="nav-link" href="#" data-section="finanzas">Reporte Financiero</a></li>
    <li class="nav-item"><a class="nav-link" href="#" data-section="registro">Registrar abogado</a></li>
    <li class="nav-item"><a class="nav-link" href="#" data-section="notificaciones">Notificaciones y Comunicación</a></li>
</ul>

<!-- Contenedor de contenido -->
<div class="content-container">
    <!-- Todas las Causas -->
    <div id="causas" class="content-section active">
        <h2>Todas las Causas</h2>
        <div class="list-group">
            {% for causa in todas_las_causas %}
                <a href="{% url 'detalle_causa' causa.id %}" class="list-group-item list-group-item-action">
                    {{ causa.numero }} - {{ causa.estado }} - {{ causa.abogado }}
                </a>
            {% endfor %}
        </div>
    </div>

    <!-- Reporte Financiero -->
    <div id="finanzas" class="content-section">
        <h2>Reporte Financiero</h2>
        <div class="list-group">
            {% for reporte in reportes_financieros %}
                <a href="{{ reporte.archivo.url }}" class="list-group-item list-group-item-action" download>
                    {{ reporte.titulo }} - {{ reporte.fecha }}
                </a>
            {% endfor %}
        </div>
    </div>

        <!-- Reporte  -->
        <div id="registro" class="content-section">
            <h2>Registrar abogado</h2>
            <div class="list-group">
                <form id="formularioRegistro" method="post" action="{% url 'Registro' %}" class="mx-auto" style="max-width: 600px;">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="rut" class="form-label">RUT</label>
                        <input type="text" id="rut" name="rut" class="form-control" required>
                        <div id="errorRut" class="error-message">Error en RUT</div>
                    </div>
                    <div class="mb-4">
                        <label for="username" class="form-label">Nombre de Usuario</label>
                        <input type="text" id="username" name="username" class="form-control" required>
                        <div id="errorUsername" class="error-message">Error en Nombre de Usuario</div>
                    </div>
                    <div class="mb-4">
                        <label for="first_name" class="form-label">Nombre Abogado</label>
                        <input type="text" id="first_name" name="first_name" class="form-control" required>
                        <div id="errorFirstName" class="error-message">Error en Nombre</div>
                    </div>
                    <div class="mb-4">
                        <label for="last_name" class="form-label">Apellido Abogado</label>
                        <input type="text" id="last_name" name="last_name" class="form-control" required>
                        <div id="errorLastName" class="error-message">Error en Apellido</div>
                    </div>
                    <div class="mb-4">
                        <label for="email" class="form-label">Correo Electrónico</label>
                        <input type="email" id="email" name="email" class="form-control" required>
                        <div id="errorEmail" class="error-message">Error en Correo Electrónico</div>
                    </div>
                    <div class="mb-4">
                        <label for="phone" class="form-label">Número de Teléfono</label>
                        <input type="text" id="phone" name="phone" class="form-control" required>
                        <div id="errorPhone" class="error-message">Error en Número de Teléfono</div>
                    </div>
                    <div class="mb-4">
                        <label for="address" class="form-label">Dirección</label>
                        <input type="text" id="address" name="address" class="form-control" required>
                        <div id="errorAddress" class="error-message">Error en Dirección</div>
                    </div>
                    <div class="mb-4">
                        <label for="date_of_birth" class="form-label">Fecha de Nacimiento</label>
                        <input type="date" id="date_of_birth" name="date_of_birth" class="form-control" required>
                        <div id="errorDateOfBirth" class="error-message">Error en Fecha de Nacimiento</div>
                    </div>
                    <div class="mb-4">
                        <label for="password" class="form-label">Clave</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                        <div id="errorPassword" class="error-message">Error en Clave</div>
                    </div>
                    <div class="mb-4">
                        <label for="confirm_password" class="form-label">Confirmar Clave</label>
                        <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
                        <div id="errorConfirmPassword" class="error-message">Error en Confirmar Clave</div>
                    </div>
                    <div id="mensajeError" class="error-message">Por favor, corrija los errores antes de continuar.</div>
                    <div id="mensajeExito" class="success-message">Formulario enviado con éxito.</div>
                    <button type="submit" class="btn btn-primary w-100">Registrarse</button>
                </form>
            </div>
        </div>
    

    <!-- Notificaciones y Comunicación -->
    <div id="notificaciones" class="content-section">
        <h2>Notificaciones y Comunicación</h2>
        <div class="list-group">
            {% for notificacion in notificaciones %}
                <div class="list-group-item">
                    <h5 class="mb-1">{{ notificacion.titulo }}</h5>
                    <p class="mb-1">{{ notificacion.mensaje }}</p>
                    <small>{{ notificacion.fecha }}</small>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

    <script src='{%static "js/Registro.js"%}'></script>
    <script src='{%static "js/Vistas.js"%}'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
