{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel del Abogado Administrador</title>
    <link type="text/css" href='{% static "css/Style.css" %}' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    {% include 'navegador.html' %}

    <!-- Navegación del Panel del Abogado Administrador -->
    <ul class="topnav1 nav nav-pills mb-3">
        <li class="nav-item"><a class="nav-link active" href="#" data-section="pendientes">Causas Pendientes</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-section="aprobadas">Causas Aprobadas</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-section="completadas">Causas Completadas</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-section="finanzas">Reporte Financiero</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-section="registro">Registrar Abogado</a></li>
        <li class="nav-item"><a class="nav-link" href="#" data-section="notificaciones">Notificaciones y Comunicación</a></li>
    </ul>

    <!-- Contenedor de contenido -->
    <div class="content-container">

        <!-- Causas Pendientes -->
        <div id="pendientes" class="content-section active">
            <h2>Causas Pendientes</h2>
            <ul>
                {% for solicitud in causas_pendientes %}
                    <li>
                        <strong>Tipo de Servicio:</strong> {{ solicitud.tipo_servicio }}<br>
                        <strong>Título:</strong> {{ solicitud.titulo }}<br>
                        <strong>Descripción:</strong> {{ solicitud.descripcion }}<br>
                        {% if solicitud.archivo_adjunto %}
                            <strong>Archivo Adjunto:</strong> <a href="{{ solicitud.archivo_adjunto.url }}">{{ solicitud.archivo_adjunto.name }}</a><br>
                        {% endif %}
                        <strong>Fecha de Creación:</strong> {{ solicitud.fecha_creacion }}<br>
                        <strong>Estado:</strong> {{ solicitud.estado }}<br>
                        <strong>Abogado Asignado:</strong> {{ solicitud.abogado }}<br>
                    </li>
                    <br>
                {% empty %}
                    <li>No hay solicitudes aún.</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Causas Aprobadas -->
        <div id="aprobadas" class="content-section">
            <h2>Causas Aprobadas</h2>
            <ul>
                {% for solicitud in causas_aprobadas %}
                    <li>
                        <strong>Tipo de Servicio:</strong> {{ solicitud.tipo_servicio }}<br>
                        <strong>Título:</strong> {{ solicitud.titulo }}<br>
                        <strong>Descripción:</strong> {{ solicitud.descripcion }}<br>
                        {% if solicitud.archivo_adjunto %}
                            <strong>Archivo Adjunto:</strong> <a href="{{ solicitud.archivo_adjunto.url }}">{{ solicitud.archivo_adjunto.name }}</a><br>
                        {% endif %}
                        <strong>Fecha de Creación:</strong> {{ solicitud.fecha_creacion }}<br>
                        <strong>Estado:</strong> {{ solicitud.estado }}<br>
                        <strong>Abogado Asignado:</strong> {{ solicitud.abogado }}<br>
                    </li>
                    <br>
                {% empty %}
                    <li>No hay solicitudes aún.</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Causas Completadas -->
        <div id="completadas" class="content-section">
            <h2>Causas Completadas</h2>
            <ul>
                {% for solicitud in causas_completadas %}
                    <li>
                        <strong>Tipo de Servicio:</strong> {{ solicitud.tipo_servicio }}<br>
                        <strong>Título:</strong> {{ solicitud.titulo }}<br>
                        <strong>Descripción:</strong> {{ solicitud.descripcion }}<br>
                        {% if solicitud.archivo_adjunto %}
                            <strong>Archivo Adjunto:</strong> <a href="{{ solicitud.archivo_adjunto.url }}">{{ solicitud.archivo_adjunto.name }}</a><br>
                        {% endif %}
                        <strong>Fecha de Creación:</strong> {{ solicitud.fecha_creacion }}<br>
                        <strong>Estado:</strong> {{ solicitud.estado }}<br>
                        <strong>Abogado Asignado:</strong> {{ solicitud.abogado }}<br>
                    </li>
                    <br>
                {% empty %}
                    <li>No hay solicitudes aún.</li>
                {% endfor %}
            </ul>
        </div>

    <!-- Reporte Financiero -->
    <div id="finanzas" class="content-section">
        <h2>Reporte Financiero</h2>
        <form method="GET" action="{% url 'GenerarReporteFinanciero' %}">
            <div class="mb-3">
                <label for="year" class="form-label">Año</label>
                <select id="year" name="year" class="form-select" required>
                    <option selected disabled>Seleccione un año</option>
                    {% for year in years %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Generar Reporte</button>
        </form>
    </div>

        <!-- Registrar Abogado -->
        <div id="registro" class="content-section">
            <h2>Registrar Abogado</h2>
            <div class="list-group">
                <form id="formularioRegistro" method="post" action="{% url 'register_cliente' %}" class="mx-auto" style="max-width: 600px;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="rut" class="form-label">RUT</label>
                        <input type="text" id="rut" name="rut" class="form-control" required>
                        <div id="errorRut" class="error-message" style="display:none;">Error en RUT</div>
                    </div>
                    <div class="mb-3">
                        <label for="first_name" class="form-label">Nombre</label>
                        <input type="text" id="first_name" name="first_name" class="form-control" required>
                        <div id="errorFirstName" class="error-message" style="display:none;">Error en Nombre</div>
                    </div>
                    <div class="mb-3">
                        <label for="last_name" class="form-label">Apellido</label>
                        <input type="text" id="last_name" name="last_name" class="form-control" required>
                        <div id="errorLastName" class="error-message" style="display:none;">Error en Apellido</div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo Electrónico</label>
                        <input type="email" id="email" name="email" class="form-control" required>
                        <div id="errorEmail" class="error-message" style="display:none;">Error en Correo Electrónico</div>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Número de Teléfono</label>
                        <input type="text" id="phone" name="phone" class="form-control" required>
                        <div id="errorPhone" class="error-message" style="display:none;">Error en Número de Teléfono</div>
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Dirección</label>
                        <input type="text" id="address" name="address" class="form-control" required>
                        <div id="errorAddress" class="error-message" style="display:none;">Error en Dirección</div>
                    </div>
                    <div class="mb-3">
                        <label for="date_of_birth" class="form-label">Fecha de Nacimiento</label>
                        <input type="date" id="date_of_birth" name="date_of_birth" class="form-control" required>
                        <div id="errorDateOfBirth" class="error-message" style="display:none;">Error en Fecha de Nacimiento</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Clave</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                        <div id="errorPassword" class="error-message" style="display:none;">Error en Clave</div>
                    </div>
                    <div class="mb-3">
                        <label for="confirm_password" class="form-label">Confirmar Clave</label>
                        <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
                        <div id="errorConfirmPassword" class="error-message" style="display:none;">Error en Confirmar Clave</div>
                    </div>
                    <div id="mensajeError" class="error-message" style="display:none;">Por favor, corrija los errores antes de continuar.</div>
                    <div id="mensajeExito" class="success-message" style="display:none;">Formulario enviado con éxito.</div>
                    <button type="submit" class="btn btn-primary w-100">Registrarse</button>
                </form>
            </div>
        </div>

        <!-- Notificaciones y Comunicación -->
        <div id="notificaciones" class="content-section">
            <h2>Notificaciones y Comunicación</h2>
            <div class="list-group">
                {% for notificacion in notificaciones %}
                    <div class="list-group-item">
                        <h5 class="mb-1">{{ notificacion.titulo }}</h5>
                        <p class="mb-1">{{ notificacion.mensaje }}</p>
                        <small>{{ notificacion.fecha }}</small>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <script src='{% static "js/Vistas.js" %}'></script>
    <script src='{% static "js/Validacion.js" %}'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
